# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - backend/** # This triggers the pipeline only when ch

pool:
  name: Default

steps:

- checkout: self
  fetchDepth: 0
  persistCredentials: true  

- script: echo "This script runs in the 'backend' directory."
  displayName: 'Custom Directory Script'
  workingDirectory: 'backend'

- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- task: PowerShell@2
  displayName: Check for File Changes
  inputs:
    targetType: 'inline'
    script: |
      # Get the list of changed files between the current commit and the previous one
      $changedFiles = git diff --name-only --relative --diff-filter=AMCR HEAD^ HEAD

      # You can also compare against a specific branch or commit
      # $changedFiles = git diff --name-only --relative --diff-filter=AMCR origin/main HEAD
      
      Write-Host "##vso[task.setvariable variable=FILE_CHANGED;]false"
      if ($changedFiles) {
          Write-Host "The following files have been modified or added:"
          $changedFiles | ForEach-Object { Write-Host "- $_" }

          # You can then perform actions based on the changed files
          # For example, filter for specific file types:
          $jsonFiles = $changedFiles | Where-Object { $_.EndsWith(".json") }
          if ($jsonFiles) {
            Write-Host "##vso[task.setvariable variable=FILE_CHANGED;]true"
          }
      }

- script: |
    if [ "$(FILE_CHANGED)" = "true" ]; then
      echo "Install dependencies"
      npm install
    else
      echo "Skipping npm dependencies install"
    fi
  displayName: 'Conditional step'
  workingDirectory: '$(Build.SourcesDirectory)/backend'

- task: ArchiveFiles@2
  displayName: 'Archive output'
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)/backend'
    includeRootFolder: false
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(artifactName).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'backend-drop'
    publishLocation: 'Container'

