# Node.js
# Build a general Node.js project with npm.
# Add steps that analyze code, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/javascript

trigger:
  branches:
    include:
    - main
  paths:
    include:
    - backend/** # This triggers the pipeline only when ch

pool:
  name: Default

steps:

- script: echo "This script runs in the 'backend' directory."
  displayName: 'Custom Directory Script'
  workingDirectory: 'backend'

- task: NodeTool@0
  inputs:
    versionSpec: '20.x'
  displayName: 'Install Node.js'

- script: npm install
  displayName: 'Install dependencies'


- task: ArchiveFiles@2
  displayName: 'Archive output'
  inputs:
    rootFolderOrFile: '$(Build.SourcesDirectory)/backend'
    includeRootFolder: false
    archiveFile: '$(Build.ArtifactStagingDirectory)/$(artifactName).zip'
    replaceExistingArchive: true

- task: PublishBuildArtifacts@1
  inputs:
    pathToPublish: '$(Build.ArtifactStagingDirectory)'
    artifactName: 'backend-drop'
    publishLocation: 'Container'

