.rich-text-editor .ql-toolbar {
  background-color: hsl(var(--muted));
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  border-color: hsl(var(--border));
}

.rich-text-editor .ql-container {
  border-bottom-left-radius: var(--radius);
  border-bottom-right-radius: var(--radius);
  border-color: hsl(var(--border));
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
}

.rich-text-editor .ql-editor {
  min-height: 150px;
}

.rich-text-editor .ql-editor.ql-blank::before {
  color: hsl(var(--muted-foreground));
  font-style: normal;
}

.rich-text-editor .ql-stroke {
  stroke: hsl(var(--foreground));
}

.rich-text-editor .ql-picker-label {
    color: hsl(var(--foreground));
}

.rich-text-editor .ql-snow .ql-picker:not(.ql-color-picker):not(.ql-icon-picker) svg {
    stroke: hsl(var(--foreground));
} 